.background-image {
    background-image: url('/contenido_incrustado/static/src/img/fondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    position: relative;
    padding: 10px;
}

#uno {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dos {
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

/* #tres {
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.o_control_panel {
    display: none;
}