.background-image {
    background-image: url('/contenido_incrustado/static/src/img/fondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    position: relative;
    padding: 10px;
}

#main_div {
    overflow-x: hidden;
    background-color: red;
    width: 100vw;
    position: relative;
}

#uno {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#dos {
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tres {
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}