.hang-up-popup {
  $color-gray: #90a0af;
  $color-red: #d92929;

  z-index: 1;
  height: 36px !important;
  border-radius: 50%;
  border: 2px solid $color-red;
  background: $color-red !important;
  position: absolute !important;
  top: 48px;
  margin-left: 5px;
  padding: 0 0.5rem !important;

  &:hover {
    cursor: pointer;
  }

  i {
    color: white;
    font-size: large;
  }
}

.toggle-phone {
  padding: 0 5px !important;

  i {
    height: 30px;
    width: 30px;
    font-size: large;
    border-radius: 30%;

    &::before {
      margin-top: 5px;
      display: block;
    }
  }

  &.busy i {
    background-color: #f08080 !important;
  }
}